/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .customStyle {
        @apply flex items-center justify-between space-x-2 w-full;
    }
}